/* ==============
	 SUPERFISH
================ */
@use '../../../00-base' as *;

/* MOBILE MENU TOGGLE
  ------------------ */
#main-nav-toggle {
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  right: $siteMarginMobile;
  @include desk {
    display: none;
  }

  span {
    display: none;
  }

  &:before {
    @include materialIcon(\e5d2);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: $hamburger;
    line-height: 28px;
  }

  &.open {
    &:before {
      @include materialIcon(\e5cd);
      color: $hamburgerActive;
    }
  }
}

/* GLOBAL 
------------ */
#block-main-menu ul.menu-main-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 497;
  ul {
    list-style-type: none;
    display: none;
  }
  li {
    list-style: none;
    position: relative;
  }
}

/* MOBILE-SPECIFIC
------------------ */
@include onlyMobile {
  ul.menu-main-navigation:not(.accordion-open) {
    display: none;
  }
  #block-main-menu ul.menu-main-navigation {
    background: $mmMobileDrop;
    border-bottom: 8px solid $mmMobileDropBorder;
    left: -$siteMarginMobile !important;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 20px) !important;
    text-align: left;
    width: calc(100% + $siteMarginMobile * 2);

    a.menu-item-expand {
      background: transparent;
      display: block;
      height: 60px;
      padding: 0;
      position: absolute !important;
      right: 0;
      text-align: left;
      text-indent: -9000px;
      top: 0;
      width: 60px;
      z-index: 1;

      &:after {
        @include materialIconOutline(\e5cf);
        @include safeFlex(row, no-wrap, center, center);
        @include setDimensions(60px, 60px);
        @include transFormAnimate;
        position: absolute;
        right: 10px;
        top: 0;
        text-indent: 0;
      }
      @include desk {
        display: none;
      }
    }

    .open {
      & > a.menu-item-expand {
        &:after {
          @include rotate(180);
        }
      }
    }
    // top level mobile
    li.item-level-1 {
      &:not(:last-child) {
        border-bottom: 1px solid $mmMobileItemBorder;
      }

      & > a,
      & > span.nolink {
        background: $mmMobileTopBack;
        color: $mmMobileTop;
        padding: 2.5rem 4rem;
        line-height: 1.15;
        font-size: 2.25rem;
        display: block;
        position: relative;
      }

      &.open {
        & > a
        & > span.nolink {
          color: $mmMobileTopExpanded;
          background: $mmMobileTopBackExpanded;
        }
      }
    }

    //second level & below mobile
    li.item-level-2 {
      a {
        line-height: 1;
        padding: 1.25rem 3.75rem 1.25rem 5rem;

        &.menuparent {
          &:hover,
          &:focus {
            &:after {
              color: $buttonBackHover;
            }
          }
          &:after {
            content: '';
            padding: 0;
            position: relative;
            right: -7px;
            top: 0.6rem;
            opacity: 1;
            height: 18px;
            width: 18px;
            background-image: none;
            @include materialIconOutline(\e5e1);
            font-size: 18px;
            @include transFormAnimate;
          }
        }
      }
    }
  }
}

/* DESK FISH
---------------- */
@include desk {
  #block-main-menu ul.menu-main-navigation {
    @include safeFlex(row, wrap, end, null);

    // top level
    li.item-level-1 {
      &:hover,&:focus {
        & > a {
          background: $mmTopBackHover;
          color: $mmTopLinkHover;
        }
      }

      &.open {
        & > a.menuparent {
          &.menuparent {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        & > ul {
          display: block;
          padding: 1.5rem 0;
          z-index: 10;
        }
      }

      &.active-trail {
        &:hover > a,&:focus > a {
          color: $mmTopActiveHover;
        }

        & > a {
          color: $mmTopActive;
        }
      }

      & > a,
      & > span.nolink {
        background: $mmTopBackHover;
        color: $mmTopLink;
        padding: 2.5rem 1.5rem;
        line-height: 1.15;
        font-size: 1.75rem;
        display: block;
        position: relative;

        &.menu-item-expand {
          display: none;
        }

        &.menuparent {
          &:after {
            content: '';
            display: inline-block;
            margin-left: 1rem;
            height: 8px;
            width: 8px;
            background-image: none;
            background-image: url(../images/elements/menu-caret.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include transFormAnimate;
          }
        }
      }

      //first level dropdown
      & > ul {
        padding: 0 0 2.5rem;
        background: $mmDropdown;
        left: 0;
        min-width: 280px;
        padding: 2.5rem 0 0;
        position: absolute;
        top: 100%;
        width: 12em;
      }
    }

    // second level and below
    li.item-level-2 {
      &.active-trail {
        color: $mmChildActive;
      }
      &:hover,&:focus {
        color: $mmChildActiveHover;
      }
      ul {
        background: $mmDropdown;
        left: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0px;
        min-width: 240px;
      }

      a {
        line-height: 1;
        padding: 1.5rem 2.5rem;
        font-size: 1.75rem;
        color: $mmChildLink;
        &:hover,
        &:focus {
          color: $mmChildLinkHover
        }
      }
    }
  }
}
