/* =================
	 SECTION MENU
===================== */
@use '../../../00-base' as *;

.otp-nav {
  @include listReset;

  & > li {
    margin-bottom: $spaceMd;
    &.otp-section-active > a {
      color: $blue;
    }
    .otp-section-active {
      color: $blue;
    }
    & > a {
      font-size: 24px;
    }
  }

  ul{ 
    @include listReset;
    li {
      padding-left: 20px;
    }
  }

  a {
    &:hover,&:focus {
      color: $black;
    }
  }
}
