/* =================
   ACTIONS BLOCK
=================== */
@use '../../../00-base' as *;

.block-actions {
  max-width: $textMax;
  @include auto;
  @include safeFlex(row,wrap,start,start);

  .field-headline {
    width: 100%;
    @include tab {
      width: 50%;
      padding-right: 26px;
    }
  }

  .field-actions {
    width: 100%;

    @include smallTab {
      @include safeFlex(row,wrap,start,start);
      column-gap: 35px;
      
      & > *{
        width: calc(50% - 35px);
      }
    }

    @include tab {
      width: 50%;
      padding-left: 26px;
    }
  }
}
