/* =================
   FOOTER BLOCK
=================== */
@use '../../../00-base' as *;

/* Footer Menu
-------------- */
.block-footer-menu {

  ul:not(.contextual-links) {
    @include listReset;
    @include safeFlex(row,wrap,end,start);
    column-gap: 4rem;
    li {
      position: relative;

      a {
        display: block;
        color: $footerLink;
        font-family: $navFont;
        font-weight: $heavy;
        text-decoration: underline;

        &:hover,
        &:focus {
          color: $footerLinkHover;
          text-decoration: none;
          @include transAll(.3s);
        }
      }
    }
  }
}

/* REGISTER TO VOTE
-------------- */
.block-6 {
  width: 100%;
  @include safeFlex(row,nowrap,center,center);

  .register-logo {
    margin-right: 7px;
    img {
      width: 67px;
    }
  }

  .register-message {
    img {
      width: 177px;
    }
  }
}

