/* =============
   SITE FOOTER
=============== */

@use '../../../00-base' as *;

.prefooter-wrapper {
  background: $prefooterBack;
  color: $prefooterText;
  padding: 0 $siteMarginMobile;
  .block-1 {
    background: $offWhite;
    padding: 20px 32px;
    .back-anchor {
      a {
        color: $blue;
        text-decoration: underline;
        &:hover,&:focus {
          color: $purple;
          text-decoration: none;
        }
      }
    }
  }
}

.site-footer {
  background: $footerBack;
  color: $footerText;

  .modal-content {
    color: $baseText;
  }

  .footer-inner {;
    padding: 32px $siteMarginMobile;
    max-width: $contentStop;
    @include auto;
    position: relative;
    & > div {
      @include safeFlex(row, wrap, justify, center);
    }
  }
}
